  .userTagWithNickname-13lfvd::before {
    content: "@";
    color: var(--header-primary);
    font-family: var(--font-primary);
    line-height: 18px;
    font-size: 14px;
    margin-right: 1px;
  }