.nameTag-35jqbZ::before {
    content: "@";
    color: var(--header-secondary);
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--font-display);
    margin-right: 1px;
  }