//Compact Search
.iconContainer-1RqWJj, .icon-18rqoe {
    width: 24px;
    height: 24px;
  }
  .searchBar-jGtisZ {
    width: 24px;
    height: 24px;
    padding: 0;
    background: none;
  }
  .focused-1xh-wG .searchBar-jGtisZ, .open-1F8u2c .searchBar-jGtisZ {
    width: 150px;
  }