.containerDefault-YUSmu3:hover {
    background-color: var(--primary-560);
    border-left: 3px solid var(--primary-500);
    border-radius: 0px;
}
.containerDefault-YUSmu3.selected-2TbFuo {
    background-color: var(--primary-660);
    border-left: 3px solid var(--primary-560);
    border-radius: 0px;
}
.containerDefault-YUSmu3.selected-2TbFuo > div > div > .link-1_kTxV > [class*="emojiColorFill-"] {
  margin-left: -30px;
  margin-top: 0px;
} 
.link-1_kTxV {
  background: none !important;
}