
// Better Windows Title bar
.wordmarkWindows-2dq6rw > svg {
    width: 19px;
}
.wordmarkWindows-2dq6rw path:not(:first-child) {
    display: none;
}
.wordmarkWindows-2dq6rw path:first-child {
    display: none;
}
.wordmarkWindows-2dq6rw::before {
    content: "";
    display: flex;
    height: 20px;
    width: 20px;
    background: url("https://raw.githubusercontent.com/Riddim-GLiTCH/New-Age/main/src/assets/NewAgeDark.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: -25px;
}
.wordmarkWindows-2dq6rw svg > g {
    transform: translateY(-75%);
}
.wordmarkWindows-2dq6rw {
    display: flex;
    gap: 3px;
    align-items: center;
    order: 1;
    margin-right: auto;
    background-color: var(--background-primary);
    border-radius: 16px;
    color: var(--header-primary);
}
.wordmarkWindows-2dq6rw::after {
    content: var(--TitleBarText);
    display: flex;
    width: fit-content;
    font-size: 12px;
    font-family: var(--font-display);
    font-weight: 700;
    background-color: var(--background-primary);
    padding: 2px 8px;
    border-radius: 16px;
}
html:has(#activeColorway:not(:empty)) .wordmarkWindows-2dq6rw::after {
    content: var(--TitleBarText)" + Colorways";
    background-color: var(--background-primary);
    padding: 0px 8px;
    border-radius: 16px;
}
.typeWindows-2-g3UY {
    margin-top: 0;
    padding: 4px;
    height: fit-content;
}
.typeWindows-2-g3UY > * {
    position: relative;
}
.winButton-3UMjdg {
    top: 0 !important;
    margin: -4px 0;
    height: 31px;
    width: 46px;
}
.winButtonClose-3Q8ZH5 {
    margin-right: -4px;
}